.env
/db/asistente_energia_db.sql
/db/backup/
/controladores/__pycache__/
/modelos/__pycache__/
/db/__pycache__/
/funciones/__pycache__/
/.venv
/.venv311
/.venv313
/speech-recognition/vosk-models/*
/speech-recognition/records/*
static/media/records/*
/modelosIA/
cert.pem
key.pem
.DS_Store
/notebook/
/core
/logs
Consumo_con_Temperatura_Redondeada.csv
arima.py
.App.py.swp

privkey.pem
cert.pem
